<?xml version="1.0" encoding="utf-8"?>
<xex>
  <baseaddr addr="0x91C10000"/>
  <!--0x91A00000-->
  <sysdll/>
  <!-- exportcontainer name="plugins.def"/ -->
  <format>
    <compressed/>
  </format>
  <mediatypes>
    <default/>
    <allpackages/>
  </mediatypes>
  <gameregion>
    <all/>
  </gameregion>
  
  <!-- This will make it look like dash. You can set it to what you want if its a sysdll.. -->
  <titleid id="0xFFFE07D1"/>
  
  <version major="2" minor="0" build="17150" qfe="0"/>
  
  <!--This is the .xzp file that contains our custom shit-->
  <!-- section file ="resources.xzp" name ="RSC" memory ="RO"/ -->


</xex>